# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Cover some popular languages in data science
* Explore some tools used in the data science field
* List popular libraries commonly used
* Share some common python expression examples

Some popular languages data scientists use are:
* R
* Python
* SQL

Some common libraries that data scientist use are:
* GGally
* panda
* MatPlotLib
* NumPy

| Data Science Tools |
| :----: |
| Watson Studio |
| RStudio | 
| Jupyter Notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers. 
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Josiah Batterson